<h2>Login</h2>
<form>
    <div class="form-field">
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput placeholder="Enter your username">
        </mat-form-field>
    </div>
    <div class="form-field">
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Enter your password">
        </mat-form-field>
    </div>
    <div class="button-wrapper">
        <button mat-stroked-button (click)="logIn()">Sign In</button>
    </div>
</form>